---
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1>404</h1>
  <div>
  <div id="404-anim" style="width: 300px; margin-left: auto; margin-right: auto;"></div>
  </div>
  <script type="text/javascript" src="/assets/js/bodymovin.min.js"></script>
  <script>
    bodymovin.loadAnimation({
    container: document.getElementById("404-anim"), // the dom element that will contain the animation
    renderer: 'svg',
    loop: true,
    autoplay: true,
    path: '/assets/anim/404.json' // the path to the animation json
  });
  </script>

  <p><strong>Page not found :(</strong></p>
  <p>The requested page could not be found.</p>
</div>
