<header class="site-header">

    <div class="wrapper">
        
        <a class="site-title" href="/">
            <img src="/assets/image/transparent_logo.png" style="padding: 0.5em; width: 80px;">
            <!-- <span>{{ site.title | escape }}</span> -->
        </a>


        <nav class="site-nav" style="vertical-align: bottom;">
            {% for link in site.data.navigation.main %} {% if link.url contains "http" %} {% assign url = link.url %} {% else %} {% assign
            url = link.url | relative_url %} {% endif %}
            <a class="page-link" href="{{ url }}">{{ link.title }}</a>
            {% endfor %}
        </nav>

    </div>

</header>