body {
    background-color: black;
    margin: 0;
    padding: 0;
}

p {
    font-size: 2.5rem;
}

a {
    color: #10E8F9;
}

a:hover {
    color: #A0B0FF;
}

h1 {
    font-family: 'Coiny';
}

.button.button-outline.button-white:hover {
    color: #10E8F9;
    border-color: #10E8F9;
}
.button.button-outline.button-black:hover {
    color: #F70B2D;
    border-color: #F70B2D;
}

.pre-slanted:before {
    background: inherit;
    top: -50%;
    left: 0;
    right: 0;
    content: '';
    display: block;
    height: 50%;
    position: absolute;
    transform: skewY(-2.5deg);
    transform-origin: 100%;
    z-index: -11;
}

.slanted:after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-2.5deg);
    transform-origin: 100%;
    z-index: -10;
}

@keyframes rotating {
    from {
        transform: translateY(0px);
        opacity: 0.5;
    }
    to {
        transform: translateY(50px);
        opacity: 0;
    }
}

#down-indicator {
    font-size: 10em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-top: -0.2em;
    text-align: center;
    opacity: 0.5;
    animation: rotating 3s linear infinite;
}

.full-width-section {
    padding: 3em 6em;
}

#header {
    background-color: #10E8F9;
    height: 100vh;
    margin-top: 0;
    position: relative;
    z-index: 3;
}

#section-01 {
    background-color: #F70B2D;
    color: white;
    padding-top: 5em;
    position: relative;
    z-index: 2;
}

#section-projects-header {
    background-color: white;
    color: black;
    padding-top: 3em;
    padding-bottom: 3em;
    position: relative;
    z-index: 1;
}

.project-section {
    min-height: 500px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

#section-kittenkingdoms {
    background-color: #10E8F9;
    background-image: url('../images/KittenKingdomsBackground.png');
    background-size: cover;
    background-position-y: 50%;
    background-blend-mode: soft-light;
    padding-top: 4em;
    color: black;
}

#section-sen {
    background-color: #333;
    background-image: url(../images/SENBackground.png);
    background-size: contain;
    background-position-x: 50%;
    background-position-y: 50%;
    background-blend-mode: soft-light;
    color: white;
}

#section-blaggards {
    background-color: #10E8F9;
    background-image: url('../images/BlaggardsBackground.png');
    background-size: cover;
    background-position-y: 50%;
    color: black;
}

#section-propagate {
    background-color: #F70B2D;
    background-image: url('../images/PropagateBackground.png');
    background-size: cover;
    background-position-y: 50%;
    color: white;
}

#section-digital-signals {
    background-color: white;
    background-image: url('../images/DigitalSignalsBackground.png');
    background-size: cover;
    background-position-y: 50%;
    color: black;
    z-index: 0;
}

#section-locoflow {
    background-color: #F70B2D;
    background-image: url('../images/LocoflowBackground.png');
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 25%;
    color: white;
    z-index: 0;
}

#section-contact-header {
    background-color: white;
    color: black;
    padding-top: 0.5em;
    padding-bottom: 3.5em;
    position: relative;
    z-index: 1;
}

#section-contact {
    background-color: #F70B2D;
    color: white;
    padding-top: 4em;
}

#luke_head {
    width: 269px;
    height: 360px;
    padding: 20px;
    float: left;
}

.title {
    font-family: 'Coiny';
    font-size: 3em;
    margin-bottom: 0;
}

.slanted-text {
    transform: skewY(-2.5deg);
    transform-origin: 100%;
}

.right {
    float: right;
    text-align: right;
}

.left {
    float: left;
    text-align: left;
}

.spaced {
    margin-top: 2em;
}

.button-blue {
    background-color: #10E8F9;
    border-color: #10E8F9;
}
.button-blue.button-clear,
.button-blue.button-outline {
  background-color: transparent;
  color: #10E8F9;
}

.button-black {
    background-color: black;
    border-color: black;
}
.button-black.button-clear,
.button-black.button-outline {
  background-color: transparent;
  color: black;
}

.button-white {
    background-color: white;
    border-color: white;
}
.button-white.button-clear,
.button-white.button-outline {
  background-color: transparent;
  color: white;
}

#footer {
    background-color: #555555;
    padding: 3rem;
    padding-bottom: 1rem;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#footer p {
    font-size: 1.2rem;
    line-height: 0.1rem;
}

#logo {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}