#vault-header {
    background-image: url(../images/vault.jpg);
    background-size: cover;
    background-position-y: 50%;
    height: 100vh;
    margin-top: 0;
    position: relative;
    text-align: center;
    
    color: black;
}

#vault-header p {
    padding-top: 65vh;
}

#section-vault-description:before {
    height: 25%;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    display: block;
    background-color: inherit;
    position: absolute;
    transform: skewY(-2.5deg);
    transform-origin: 0%;
    z-index: -10;
}

#section-vault-description {
    background-color: black;
    color: white;
    position: relative;
    padding-top: 0;
    margin-top: 0;
    z-index: 1;
}

#section-foo {
    background-color: #F70B2D;
    color: white;

}
