---
# Front matter comment to ensure Jekyll properly reads file.
---

$background-color: #353535;
$brand-color:      #ED1B32;
$text-color:       white;
$grey-color:       #72d0eb;
$skew-amount: -3deg;
html {
    margin: 0;
    padding: 0;
}
html,body {
    overflow-x: hidden;
}
pre,code {
    background-color: #1a1a1a !important;
    border: none !important;
}
p img {
    display: block;
    margin: 0 auto;
}
.site-header {
    display: flex;
    align-content: space-around;
    transform: skewY($skew-amount);
    margin: -4em 0 0;
    background-color: $grey-color;
    height: 10em;
}
.site-header .wrapper {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    width: 100%;
}
.site-header .wrapper::after {
    content: none;
}
.site-title {
    color: $brand-color !important;
}
.site-title, .site-nav {
    float: none !important;
    align-self: flex-end;
}
.post-title {
    margin: -0.5em -100% 1em !important;
    background-color: $brand-color;
    padding: 1em !important;
    transform: skewY($skew-amount);
    text-align: center;
    overflow: hidden;
}
.post h2, .post h3, .post h4 {
    margin: 1.5em 0% 1.5em !important;
    background-color: $brand-color;
    text-align: left;
    padding: 0.5em;
    transform: skewY($skew-amount);
}
.post h3 {
    background-color: darken($brand-color, 15%);
}
@import "whiteglass";

