---
layout: default
---

<div class="home">
  <h1>{{ page.title }}</h1>
  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
    <!-- <ul class="post-list"> -->
      {%- for post in site.posts -%}
      <!-- <li> -->
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">
          {{ post.date | date: date_format }}
          {%- if post.tags -%}
            {% include category_links.html categories=post.categories tags=post.tags %}
          {%- endif -%}
          {% if post.external-url %}
            • <a href="{{ post.url | relative_url }}">Permalink</a>
          {% endif %}
        </span>
        <h2>
          {% if post.external-url %}
            <a class="post-link" href="{{ post.external-url }}">{{ post.title | escape }} &rarr;</a>
          {% else %}
            <a class="post-link" href="{{ post.url | relative_url }}"{% if lang != empty %} lang="{{ lang }}"{% endif %}>{{ post.title | escape }}</a>
          {% endif %}
        </h2>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      <!-- </li> -->
      {%- endfor -%}
    <!-- </ul> -->

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

  {% capture site_lang %}{{ site.lang | default: "en" }}{% endcapture %}
</div>